*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body,
#root{
    width:100%;
    min-height:100%;
}

body{
    font-family:
        "Inter",
        "Segoe UI",
        sans-serif;

    background:var(--background);

    color:var(--text);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}